@model IEnumerable<UtaemKomiteV2.Models.Dosya>
@{ int i = 0;
    Random r = new Random(DateTime.Now.Millisecond);
}

<div>
    @foreach (var item in Html.GetEnumSelectList<DOSYATURU>())
    {
    <div class="dosyalarDiv">
        <div class="auto">
            <button onclick="YeniDosyaEkleFormAc('@item.Text')" class="btn btn-sm btn-warning float-right" ><span class="fas fa-plus"></span> Yeni Dosya Ekle</button>
            <h5><u>@item.Text</u></h5>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Dosya adı</th>
                    <th>Tarih</th>
                    <th>Boyut(kb)</th>
                    <th>Yükleyen</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.Where(u => Convert.ToInt32(u.tur) == i))
                {
                    <tr>
                        <td>
                            @if (a.uzantı == ".pdf")
                            {
                                <img src="~/resim/pdflogo.png" height="24" />
                            }
                            else if (a.uzantı == ".doc" | a.uzantı == ".docx")
                            {
                                <img src="~/resim/wordlogo.png" height="24" />
                            }
                            else if (a.uzantı == ".xls" | a.uzantı == ".xlsx")
                            {
                                <img src="~/resim/excellogo.png" height="24" />
                            }
                            @a.isim
                        </td>
                        <td>@a.tarih</td>
                        <td>@a.boyut</td>
                        <td>@a.kulName</td>
                        <td>
                            <button>İndir</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>        
        i++;
    }
</div>

<script>
    function YeniDosyaEkleFormAc(dosyaTuru){
        new OzAjax("/Home/YeniDosyaEkle", GET, { dosyaTuru: dosyaTuru }, formAcBasari).BasitGonder();
        function formAcBasari(data) {
            new OzModal().Sayfa(data);
        }
    }
    $(".dosyalarDiv").each(function (i, e) {
        var rand1 = Math.floor(200 + Math.random() * 50);
        var rand2 = Math.floor(200 + Math.random() * 50);
        var rand3 = Math.floor(200 + Math.random() * 50);
        $(this).css("background-color", "rgb(" + rand1 + "," + rand2 + "," + rand3 + ")");
    });
</script>