@model IEnumerable<UtaemKomiteV2.Models.Dosya>
@{ 
    int i = 0;
    Random r = new Random(DateTime.Now.Millisecond);
    bool admin = Context.Session.GetString("kulrol") == "admin";
}
@if (admin)
{
    <div>BEN ADMİNİM ULEYYN</div>
}
<div>
    @foreach (var item in Html.GetEnumSelectList<DOSYATURU>())
    {
    <div class="dosyalarDiv">
        <div class="auto">
            <button onclick="YeniDosyaEkleFormAc('@item.Text')" class="btn btn-sm btn-warning float-right" ><span class="fas fa-plus"></span> Yeni Dosya Ekle</button>
            <h5><u>@item.Text</u></h5>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Dosya adı</th>
                    <th>Tarih</th>
                    <th>Boyut(kb)</th>
                    <th>Yükleyen</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.Where(u => Convert.ToInt32(u.tur) == i))
                {
                    <tr>
                        <td>
                            <img src="~/resim/@a.icon" height="24" />
                            @a.isim
                        </td>
                        <td>@a.tarih</td>
                        <td>@a.boyut</td>
                        <td>@a.kulName</td>
                        <td>
                            <a class="btn btn-sm btn-outline-primary" asp-controller="Home" asp-action="Dosyaİndir" asp-route-id="@a.ID"><span class="fas fa-download"></span></a>
                            @if (admin)
                            {
                                <button class="btn btn-sm btn-outline-danger" onclick="DosyaSilSor(@a.ID)">sil!</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>        
        i++;
    }
</div>

<script>
    function YeniDosyaEkleFormAc(dosyaTuru){
        new OzAjax("/Home/YeniDosyaEkle", GET, { dosyaTuru: dosyaTuru }, formAcBasari).BasitGonder();
        function formAcBasari(data) {
            new OzModal().Sayfa(data);
        }
    }
    $(".dosyalarDiv").each(function (i, e) {
        var rand1 = Math.floor(200 + Math.random() * 50);
        var rand2 = Math.floor(200 + Math.random() * 50);
        var rand3 = Math.floor(200 + Math.random() * 50);
        $(this).css("background-color", "rgb(" + rand1 + "," + rand2 + "," + rand3 + ")");
    });

    var silinecekID = 0;
    function DosyaSilSor(id) {
        silinecekID = id;
        var onay = new OzOnay();
        onay.evetCls = "btn btn-danger";
        onay.hayirCls = "btn btn-secondary";
        onay.evetTxt = "Evet,sil!!";
        onay.hayirTxt = "İptal";
        onay.soruCls = "text-danger h3"
        onay.soruTxt = "Bu dosya silinecek! Onaylıyor musunuz?";
        onay.Sor(DosyaSil, DosyaSilme);
        function DosyaSil() {
            new OzAjax("/Home/DosyaSil", POST, { id: id }, dosyaSilBasari).BasitGonder();
            function dosyaSilBasari(data) {
                if (data == '"Tamam"')
                    window.location = "/Home/Index";
                else
                    new OzModal().Bilgi(data);
            }
        }
        function DosyaSilme() {
            new OzModal().Bilgi("Silme iptal edildi..", 600);
        }
    }

</script>