@model IEnumerable<UtaemKomiteV2.Models.Dosya>
@{
    bool admin = Context.Session.GetString("kulrol") == "admin";
    List<string> turList = (List<string>)ViewBag.turList;
}

<!-- Tab links -->
<div class="tab">
    @foreach (var item in turList)
    {
        <button class="tablinks" onclick="openCity(event, '@item')">@item</button>
    }
</div>

@foreach (var item in turList)
{
<div id="@item" class="tabcontent">
    <div class="dosyalarDiv">
        <div class="auto">
            <button onclick="YeniDosyaEkleFormAc('@item')" class="btn btn-sm btn-warning float-right"><span class="fas fa-plus"></span> Yeni Dosya Ekle</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Dosya adı</th>
                    <th>Tarih</th>
                    <th>Boyut(kb)</th>
                    <th>Yükleyen</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.Where(u => u.tur.isim == item))
                {
                <tr>
                    <td>
                        <img src="~/resim/@a.icon" height="24" />
                        @a.isim
                    </td>
                    <td>@a.tarih</td>
                    <td>@Math.Round(Convert.ToDouble(a.boyut / 1024), 2)</td>
                    <td>@a.kulName</td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary" asp-controller="Home" asp-action="Dosyaİndir" asp-route-id="@a.ID"><span class="fas fa-download"></span></a>
                        @if (admin)
                        {
                            <button class="btn btn-sm btn-outline-danger" onclick="DosyaSilSor(@a.ID)">sil!</button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>    		 
}


<script>
    function YeniDosyaEkleFormAc(dosyaTuru) {
        new OzAjax("/Home/YeniDosyaEkle", GET, { dosyaTuru: dosyaTuru }, formAcBasari).BasitGonder();
        function formAcBasari(data) {
            new OzModal().Sayfa(data);
        }
    }

    var silinecekID = 0;
    function DosyaSilSor(id) {
        silinecekID = id;
        var onay = new OzOnay();
        onay.evetCls = "btn btn-danger";
        onay.hayirCls = "btn btn-secondary";
        onay.evetTxt = "Evet,sil!!";
        onay.hayirTxt = "İptal";
        onay.soruCls = "text-danger h3"
        onay.soruTxt = "Bu dosya silinecek! Onaylıyor musunuz?";
        onay.Sor(DosyaSil, DosyaSilme);
        function DosyaSil() {
            new OzAjax("/Home/DosyaSil", POST, { id: id }, dosyaSilBasari).BasitGonder();
            function dosyaSilBasari(data) {
                if (data == '"Tamam"')
                    window.location = "/Home/Index";
                else
                    new OzModal().Bilgi(data);
            }
        }
        function DosyaSilme() {
            new OzModal().Bilgi("Silme iptal edildi..", 600);
        }
    }

    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;

        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    $(".tablinks").first().addClass("active");
    $(".tabcontent").first().css("display", "block");

</script>